<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>42.1</title>
        <link href="img/assets/favicon.png" rel="icon" type="image/png">
        <link href="css/plugins.css" rel="stylesheet" type="text/css">
        <link href="css/theme.css" rel="stylesheet" type="text/css">
        <link href="css/ionicons.min.css" rel="stylesheet" type="text/css">
        <link href="css/et-line-icons.css" rel="stylesheet" type="text/css">
        <link href="css/themify-icons.css" rel="stylesheet" type="text/css">
        <link href="fonts/lovelo/stylesheet.css" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Raleway:100,200,300,400%7COpen+Sans:400,300' rel='stylesheet' type='text/css'>
        <link href="css/custom.css" rel="stylesheet" type="text/css">
        <link href="css/colors/blue.css" id="color-scheme" rel="stylesheet" type="text/css">
    </head>
    <body>

        <!-- Start Header -->
        <nav class="navbar navbar-default fullwidth">
            <div class="container">

                <div class="navbar-header">
                    <div class="container">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar top-bar"></span>
                            <span class="icon-bar middle-bar"></span>
                            <span class="icon-bar bottom-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"><img src="img/assets/logo-light.png" class="logo-light" alt="#"><img src="img/assets/logo-dark.png" class="logo-dark" alt="#"></a>
                    </div>
                </div>

                <div id="navbar" class="navbar-collapse collapse">
                  <div class="container">

                      <div class="navbar-header">
                          <div class="container">
                              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                  <span class="sr-only">Toggle navigation</span>
                                  <span class="icon-bar top-bar"></span>
                                  <span class="icon-bar middle-bar"></span>
                                  <span class="icon-bar bottom-bar"></span>
                              </button>
                              <a class="navbar-brand" href="#"><img src="img/assets/logo-light.png" class="logo-light" alt="#"><img src="img/assets/logo-dark.png" class="logo-dark" alt="#"></a>
                          </div>
                      </div>

                      <div id="navbar" class="navbar-collapse collapse">
                          <div class="container">
                            <ul class="nav navbar-nav menu-right">

                              <li><a>EXPERTS & TRAINING</a>
                              </li>

                              <li><a style="Color:#d24230;">WHAT'S UP</a>
                              </li>

                              <li><a>PARTNERS & GEAR</a>
                              </li>

                              <li><a class="book-a-platter">BOOK A PLATTER</a>
                              </li>

                              <li><a onclick="document.getElementById('id02').style.display='block'">SIGN IN</a>
                              </li>

                              <li><a onclick="document.getElementById('id01').style.display='block'">SIGN UP</a>
                              </li>

                              <!--button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button-->

                            </ul>

                          </div>
                      </div>
                  </div>
                </div>
            </div>
        </nav>
        <!-- End Header -->

        <section class="blog">
            <div class="container">
                <div class="row">

                    <!-- Blog Content -->
                    <div class="col-md-9">

                        <div class="blog-post">
                            <div class="post-date">
                                <h4 class="month">Apr</h4>
                                <h3 class="day">24</h3>
                                <span class="year">2016</span>
                            </div>
                            <div class="image-slider2 owl-carousel navigation-thin pagination-in">
                                <div><img src="img/blog/1.jpg" class="img-responsive width100" alt="#"></div>
                                <div><img src="img/blog/2.jpg" class="img-responsive width100" alt="#"></div>
                                <div><img src="img/blog/5.jpg" class="img-responsive width100" alt="#"></div>
                            </div>
                            <a class="link-to-post" href="#"><h3>Amazing Blog Post</h3></a>
                            <p class="blog-post-categories">
                                <span><i class="ion-ios-pricetags-outline"></i></span>
                                <a href="#">Lifestyle</a>
                                <span>,</span>
                                <a href="#">Travel</a>
                            </p>
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites.</p>
                            <p>Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section. The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. There are many variations of passages of Lorem Ipsum available, but the majority.</p>
                            <p>Phasellus nibh tortor, varius vitae orci sit amet, placerat ornare quam. Nunc sapien risus, <strong>tictum id orci quis, rutrum cursus ipsum. Phasellus pellentesque ultricies pretium.</strong></p>

                            <blockquote><p>Phasellus nibh tortor, varius vitae orci sit amet, placerat ornare quam. Nunc sapien risus, tictum id orci quis, rutrum cursus ipsum. ultricies pretium. Phasellus nibh tortor, varius vitae orci sit amet, <strong>placerat ornare quamm, nunc</strong> sapien risus, <strong>tictum id orci quis, rutrum</strong> cursus ipsum. Phasellus pellentesque ultricies pretium, placerat ornare quam</p></blockquote>

                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo <a href="#">dolores et ea</a> rebum. Stet clita kasd gubergren, no sea takimata sanctus <a href="#">magna aliquyam erat</a>, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.<p>

                            <p><em>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam at velit nisl. Aenean vitae est nisl. Cras molestie molestie nisl vel imperdiet. Donec vel mi sem.</em></p>

                        </div>




                    </div>
                    <!-- End Blog Content -->

                    <!-- Sidebar -->
                    <div class="col-md-3 sidebar">

                        <div class="blog-widget">
                            <h5>Fun Facts About Event</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat.</p>
                        </div>

                        <div class="blog-widget">
                            <h5>Event Social Media Links</h5>

                        </div>


                        <div class="sidebar-share">
                            <ul class="list-inline">
                                <li><a href="#"><i class="ti-twitter-alt"></i></a></li>
                                <li><a href="#"><i class="ti-facebook"></i></a></li>
                                <li><a href="#"><i class="ti-linkedin"></i></a></li>
                                <li><a href="#"><i class="ti-pinterest-alt"></i></a></li>
                                <li><a href="#"><i class="ti-google"></i></a></li>
                            </ul>
                        </div>


                    </div>
                    <!-- End Sidebar -->

                </div>
            </div>
        </section>

        <!-- Footer One -->
        <footer id="footer-1">

            <div class="footer-columns">
                <div class="container">
                    <div class="row">

                        <div class="col-md-3">
                            <h4 class="subheading">About Us</h4>
                            <p>We are a digital studio offering a variety of solutions in product development, mobile and visual design. Nam metus, tellus id pellentesque feugiat, sem sem cursus orci, a placerat ante ante nec massa. Nam molestie, tellus id pellentesque feugiat.</p>
                        </div>

                        <div class="col-md-3">
                            <h4 class="subheading">Recent Posts</h4>
                            <ul class="footer-recent-posts">
                                <li><a href="blog-post-carousel.html">Branding Inspiration From Wander</a><span class="recent-post-date">June 4, 2015</span></li>
                                <li><a href="blog-post-video.html">Final Kickstarter Week - Vote for Cover</a><span class="recent-post-date">June 4, 2015</span></li>
                                <li><a href="blog-grid.html">Awesome Guide to Perfect Posts</a><span class="recent-post-date">June 4, 2015</span></li>
                            </ul>
                        </div>

                        <div class="col-md-3">
                            <h4 class="subheading">Latest Tweets</h4>
                            <div id="twitter-feed" data-twitter-widget-id="455427632419442688"></div>
                        </div>

                        <div class="col-md-3">
                            <h4 class="subheading">Instagram</h4>
                            <div id="instagram-feed" data-instagram-username="vossen_inc"><ul></ul></div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="footer-copyright">
                <div class="container">
                    <div class="row">

                        <div class="col-md-6 col-sm-12">
                            <p>© 2016 <a href="index.html" class="logo">Vossen</a> All Rights Reserved. </p>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <ul class="social-icons">
                                <li><a href="#"><i class="icon ion-social-facebook"></i></a></li>
                                <li><a href="#"><i class="icon ion-social-twitter"></i></a></li>
                                <li><a href="#"><i class="icon ion-social-pinterest"></i></a></li>
                                <li><a href="#"><i class="icon ion-social-linkedin"></i></a></li>
                                <li><a href="#"><i class="icon ion-social-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </footer>
        <!-- End Footer One -->

        <!-- Start Back To Top -->
        <a id="back-to-top"><i class="icon ion-chevron-up"></i></a>
        <!-- End Back To Top -->

        <!-- Scripts -->
        <script src="js/jquery.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/scripts.js"></script>

    </body>
</html>
